/* Template/BG */

#background {
  background-image: url("./assets/turnupMain.png");
  background-color: #64af49;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.test {
  height: 100vh;
  width: 100vw;
}

#event {
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 1;

}

/* Landing */

/* User */
#userPage {
  margin-top: 10rem;
}
#profileImage {
  width: 20rem;
  height: 20rem;
}

/* Event */

/* Browse */
