/* -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc; */


/* Template/BG */
html {
  font-size: 16px;

  

}

body {
  /* background: url(assets/turnupBGshort.png); */
  background-color: red;
  overflow-x: hidden;
  
}

a:link {
  color: #3f0033 !important;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

a:visited {
  color: #3f0033 !important;
}

a:hover {
  color: #b813a4 !important;
}

a:active {
  color: #b813a4 !important;
}




.btn3 {
  background-color: #c58bb0 !important;
  border-color: rgb(88,5,77);
  font-weight: 300;
  font-size: 1rem;
  color: #3f0033;
  -moz-box-shadow: inset 0px 0px 12px px rgb(107,24,96);
  -webkit-box-shadow: inset 0px 0px 12px 2px rgb(107,24,96);
  box-shadow: inset 0px 0px 5px .5px rgb(107,24,96);
}

/* Landing */

#landingPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  /* background-image: url(assets/turnupNewBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; */

}

#turnupTitle {
  position: absolute;
  font-size: 180px !important;
  top: 27%;
  left: 37%;
  z-index: 3;
  color: #b360a8;
  font-family: 'Londrina Solid', cursive;
  text-shadow: 0px 0px 0 rgb(163,80,152),
                 1px -.5px 0 rgb(157,74,146),
                 2px -1px 0 rgb(150,67,139),
                 3px -1.5px 0 rgb(144,61,133),
                 4px -2px 0 rgb(138,55,127),
                 5px -2.5px 0 rgb(132,49,121),
                 6px -3px 0 rgb(125,42,114),
                 7px -3.5px 0 rgb(119,36,108),
                 8px -4px 0 rgb(113,30,102),
                 9px -4.5px 0 rgb(107,24,96),
                 10px -5px 0 rgb(100,17,89),
                 11px -5.5px 0 rgb(94,11,83),
                 12px -6px 0 rgb(88,5,77),
                 13px -6.5px 0 rgb(82,-1,71),
                 14px -7px 0 rgb(75,-8,64),
                 15px -7.5px 0 rgb(69,-14,58),
                 16px -8px 0 rgb(63,-20,52),
                 17px -8.5px  0 rgb(57,-26,46),
                 18px -7px 17px rgba(126,68,118,0.34),
                 18px -7px 1px rgba(126,68,118,0.5),
                 0px 0px 17px rgba(126,68,118,.2);
  filter: drop-shadow(16px -7px 18px rgba(44, 11, 33, 0.7));

}

#signUp {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  letter-spacing: .5em;
  color: #3f0033;
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 18%;
}

#float {
  position: absolute;
  top: 52%;
  z-index: 1;
}

#cloud1 {
  position: absolute;
  top: 14%;
  left: 23%;
  z-index: 2;
}

.cloud1fly {
  animation: clFly1 240s linear infinite forwards;
}

@keyframes clFly1 {
  0% {
    transform: translate(0%, 0);
  }
  70% {
    transform: translate(500%, 0);
    opacity: 1;
  }
  71% {
    transform: translate(500%, 0);
    opacity: 0;
  }
  72% {
    transform: translate(-300%, 0);
    opacity: 0;
  }
  73% {
    transform: translate(-300%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
  }

}

#cloud2 {
  position: absolute;
  top: 19%;
  left: 67%;
  z-index: 4;
}

.cloud2fly {
  animation: clFly2 240s linear infinite forwards;
}

@keyframes clFly2 {
  0% {
    transform: translate(0%, 0);
  }
  32% {
    transform: translate(400%, 0);
    opacity: 1;
  }
  33% {
    transform: translate(400%, 0);
    opacity: 0;
  }
  34% {
    transform: translate(-900%, 0);
    opacity: 0;
  }
  35% {
    transform: translate(-900%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
  }

}

#cloud3 {
  position: absolute;
  top: 41%;
  left: 13%;
  z-index: 4;
}

.cloud3fly {
  animation: clFly3 240s linear infinite forwards;
}

@keyframes clFly3 {
  0% {
    transform: translate(0%, 0);
  }
  77% {
    transform: translate(850%, 0);
    opacity: 1;
  }
  78% {
    transform: translate(850%, 0);
    opacity: 0;
  }
  79% {
    transform: translate(-250%, 0);
    opacity: 0;
  }
  80% {
    transform: translate(-250%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
  }

}

#cloud4 {
  position: absolute;
  top: 37%;
  left: 56%;
  z-index: 2;
}

.cloud4fly {
  animation: clFly4 240s linear infinite forwards;
}

@keyframes clFly4 {
  0% {
    transform: translate(0%, 0);
  }
  39% {
    transform: translate(300%, 0);
    opacity: 1;
  }
  40% {
    transform: translate(300%, 0);
    opacity: 0;
  }
  41% {
    transform: translate(-500%, 0);
    opacity: 0;
  }
  42% {
    transform: translate(-500%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
  }

}

#plane {
  position: absolute;
  top: 17%;
  left: -20%;
  z-index: 3;
  cursor: pointer;
}

.planeFly {
  animation: fly 14s linear infinite forwards;  
}

@keyframes fly {
  0% {
    transform: translate(0%, 0);
  }
  5% {
    transform: translate(35%, -3%);
  }
  10%{
    transform: translate(70%, 3%);
  }
  15%{
    transform: translate(105%, -3%);
  }
  20%{
    transform: translate(140%, 3%);
  }
  25%{
    transform: translate(175%, -3%);
  }
  30%{
    transform: translate(210%, 3%);
  }
  35%{
    transform: translate(245%, -3%);
  }
  40%{
    transform: translate(280%, 3%);
  }
  45%{
    transform: translate(315%, -2%);
  }
  50%{
    transform: translate(350%, 2%);
  }
  55%{
    transform: translate(385%, 10%);
  }
  60%{
    transform: translate(420%, 20%);
  }
  65%{
    transform: translate(455%, 30%);
  }
  70%{
    transform: translate(490%, 40%);
  }
  75%{
    transform: translate(525%, 50%);
  }
  100% {
    transform: translate(700%);
  }
}






#landingContent {
  position: relative;
  /* margin-top: 76vh; */
  color: #3f0033;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;

}

#landing1 {
  width: 100vw;
  height: 35vh;
  background-image: url("./assets/turnupBGxshort.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#landing1 .header {
  margin-left: -5rem;
}

#landing1 .bodyText {
  margin-left: 5rem;
}

#landing3 .header {
  margin-right: -5rem;
}

#landing3 .bodyText {
  margin-right: 5rem;
}

#landing2 {
  width: 100vw;
  height: 35vh;
  background-image: url("./assets/pancakes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing3 {
  width: 100vw;
  height: 35vh;
  background-image: url("./assets/turnupBGxshort.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* User */
#userPage {
  background-image: url("./assets/turnupBGlong.png");
}

#dashLinkBox {
  margin-top: 6%;
}

.dashLink a:link {
  color: #3f0033;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

.dashLink a:visited {
  color: #3f0033;
}

.dashLink a:hover {
  color: #b361a9;
}

.dashLink a:active {
  color: #b361a9;
}

#userPage p {
  color: #3f0033;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
}

.contentBox {
  /* margin-left: 6%;
  margin-right: 6%; */
  background-image: url("./assets/contentBG.png");
  background-size: cover;
  border-color: #3f0033;
  color: #1d0018;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-radius: 2mm;
  /* -moz-box-shadow:    inset 0px 0px 24px 12px rgba(32,104,20,1);
  -webkit-box-shadow: inset 0px 0px 24px 12px rgba(32,104,20,1);
  box-shadow:         inset 0px 0px 24px 12px rgba(32,104,20,1); */


}



.shadowUser {
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 1%;
  margin-bottom: 5%;
  border-radius: 1mm;
  -moz-box-shadow: 1px 1px 15px 3px rgb(65, 62, 62);
  -webkit-box-shadow: 1px 1px 15px 3px rgb(68, 65, 65);
  box-shadow: 1px 1px 15px 3px rgb(65, 64, 64);
}

.shadowUser.about {
  margin-right: 15% !important;
  margin-left: 15% !important;
  
}

#attendingBox {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#aboutHR {
  width: 90%;
  border-color: #3f0033;
  opacity: .2;
  
}

.editButtons {
  margin-left: 15%;
  margin-right: 15%;
}

#hostingCol {
  position: relative;
}

#hostBtn {
  position: absolute;
  left: 86%;
}

#profileImage {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-color: #3f0033;
  border-style: solid;
  border-width: 1px;
  border-radius: 2mm;
}

#calendar {
  margin: 2rem;
}

/* Event */
#addHost {
  height: 3%;
  width: 3%;
  position: absolute;
  z-index: 8;
  left: 96%;

}

#event {
  background-image: url("./assets/turnupBGlong.png");
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;

}

#event p {
  color: #3f0033;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
}

#eventNameInput {
  font-size: 72px;
  background-color: rgb(0, 0, 0, 0.3);
  color: #3f0033;
}

#briefDetailsInput {
  background-color: rgb(0, 0, 0, 0.3);
  color: #3f0033;
}

.headerContent {
  height: 50vh;
}

.eventMain {
  margin-top: 7%;
}

.eventContent {
  /* margin-left: 8%;
  margin-right: 8%; */

}

.shadowEvent {
  margin-right: 8%;
  margin-left: 8%;
  /* margin-bottom: 5%; */
  border-radius: 2mm;
  -moz-box-shadow: 1px 1px 15px 3px rgb(65, 62, 62);
  -webkit-box-shadow: 1px 1px 15px 3px rgb(68, 65, 65);
  box-shadow: 1px 1px 15px 3px rgb(65, 64, 64);
}

.eventBox {
  background-color: whitesmoke;
  border-color: #3f0033;
  color: #3f0033;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 2mm;
  border-bottom-right-radius: 2mm;

}

#bannerCol {
  position: relative;
  height: 100%;
  border-color: #3f0033;
  border-right-style: solid;
  border-width: 1px;
  border-top-left-radius: 2mm;
  border-top-right-radius: 2mm;
}

#bannerImage {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: #3f0033;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-top-left-radius: 2mm;
  border-top-right-radius: 2mm;
  -webkit-mask-image: -webkit-linear-gradient(-135deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .5) 49%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
}

#bannerText {
  margin-right: 2%;
  position: absolute;
  z-index: 2;
  left: 10%;
  color: #3f0033;

}

#eventNameEl, #breifDetailsEl {
  width: 70vw;
}

#bannerUpload {
  background-color: rgb(255, 255, 255, 0.6);
  color: #3f0033;
  margin-left: 2%;
  position: absolute;
  z-index: 2;
  padding: .5rem;
  top: 70%;
  right: 80%;
  border-radius: 1mm;
}

#thumbUpload {
  color: #3f0033;
  background-color: rgb(255, 255, 255, 0.6);
  width: 25%;
  position: absolute;
  padding: .5rem;
  z-index: 2;
  top: 37%;
  right: 8%;
  border-radius: 1mm;
}

#thumbPlace {
  width: 120px;
  height: 150px;
  object-fit: cover;
}

.checkedBtn {
  background-color: #dbc1ba !important;
  border-color: #b361a9;
  color: rgb(7, 34, 2);
  -moz-box-shadow: inset 0px 0px 12px 2px rgba(202, 144, 178, 1);
  -webkit-box-shadow: inset 0px 0px 12px 2px rgba(202, 144, 178, 1);
  box-shadow: inset 0px 0px 12px 2px rgba(202, 144, 178, 1);
}

.eventBtn .btn {
  width: 80%;
}

/* Browse */
#browsePage {
  background-image: url("./assets/turnupBGlong.png")
}

.browseMain {
  margin-top: 3%;
}
.item {
  text-align: center;
  margin-left: 3rem;
  transition: transform 300ms ease 100ms;
}

.item:hover {
  transform: scale(1.1) !important;
}


.bcard {
  height: 80%;
}

.item>.card-body {
  height: 20rem;
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 4px;
}

.arrowIcon {
  width: 60px;
  height: 90px;
  cursor: pointer;
}

.cardCategory {
  font-family: 'Londrina Solid', cursive;
  color: #3f0033;
  letter-spacing: 20px;
  font-size: 600%;
  text-shadow: 3px 3px 5px #444444;
}

.item>.card-body>h5 {
  margin-top: 30%;
  text-shadow: 1px 2px rgba(202, 144, 178, 1);
  background-color: rgb(0, 0, 0);
}

.item>.card-body>.card-title>.card-text {
  margin-top: 2%;

}

.netf {
  margin-bottom: 3rem;
}

.smoke {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 25px 40px rgba(255, 255, 255, 0.3);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 25px 40px rgba(255, 255, 255, 0.3);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 25px 40px rgba(255, 255, 255, 0.3);
}


/* Not Found */

#notFound {
  overflow-y: hidden;
  height: 100vh;
}

#notFoundContent {
  position: relative;
}

#notFoundText {
  position: absolute;
  z-index: 1;
  font-family: 'Londrina Solid', cursive;
  color: #3f0033;
  top: 10%;
  left: 27%;
}
