input {
    margin-top: 5%;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
}

.signupButtons {
    background-color: #7dd337 !important;
    border-color: #061c03;
    color: #061c03 !important;
    -moz-box-shadow: inset 0px 0px 12px 2px rgba(32, 104, 20, 1);
    -webkit-box-shadow: inset 0px 0px 12px 2px rgba(32, 104, 20, 1);
    box-shadow: inset 0px 0px 12px 2px rgba(32, 104, 20, 1);
}

#signUpBody {
    font-family: 'Londrina Solid', cursive;
    font-weight: 100;
}

.warning {
    letter-spacing: .125em;
    word-spacing: .2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3f0033;
    color: #b361a9;
}

.tooltip-inner {
    max-width: 100% !important;

    /* font-family: 'Londrina Solid', cursive;
    font-weight: 200; */
    /* color: #3f0033 !important;
    background-color: rgba(24, 22, 22, 0.8) !important; */
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin:70% 70%;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    10% { transform: scale(1.05); }
    20% { transform: scale(1); }
    30% { transform: scale(1.05); }
    40% { transform: scale(1); }
    50% { transform: scale(1.05); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1.03); }
    90% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

.asterisk {
    color: rgb(131, 18, 18);
    font-size: 1.3em;
}