input, select, textarea {
    margin-top: 3%;
    width: 100%;
    display: block;
}

.modal-content {
  background-image: url("../../assets/contentBG.png") !important;
  border-color: #061c03;
  color: #1d0018;
}

#modalBackground {
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
}