#login {
    
    /* position: absolute;
    top: 2%;
    left: 89%;
    border: 1px;
    background-color: #024405; */
}
.input {
    
}

.loginCol {
    position: absolute;
    left:78%;
    top: .5rem;
}